body {
    max-height: 100vh;
}

.container {
    display:flex;
}

.lhs {
    display:flex;
    height: 100vh;
    width: 500px;
    margin-left:-10px;
    margin-top: -10px;
    margin-bottom: -10px;
    background-image: url("smokey.jpg");
    background-size: 500px 100vh;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    border-right: 2px solid rgb(19, 19, 19);
}

.odin{
    width: 200px;
    height:auto;
}

.rhs {
    display: flex;
    background-image: linear-gradient(to right, rgb(31, 30, 30) , rgba(66, 66, 66, 0.849));
    flex-grow: 1;
    margin-right: -8px;
    margin-top: -10px;
    margin-bottom: -10px;
    flex-direction:column;

}

.upper {
    display: flex;
    flex-direction: column;
    height: 35vh;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 700;
    color: rgb(189, 188, 188);
    letter-spacing: 1px;
    justify-content: center;
    
}

#intro {
    margin-left: 49px;
    width: 800px;
}

#want {
    margin-left: 49px;
}



.middle {
    border: 2px solid rgb(39, 39, 39);
    height: 30vh;
    background-color: rgb(48, 48, 48);
    box-shadow: 2px;
}

label {
    display:flex;
    font-size: 10px;
    font-family: "Roboto";
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
    
}

ul {
    list-style: none;
}

#letsdothis {
    display:flex;
    margin-bottom: 20px;
    margin-left: 49px;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 700;
    color: rgb(189, 188, 188);
    letter-spacing: 2px;
}

.names,
.details,
.passwords,
.button,
.already {
    display:flex;
    margin-bottom: 20px;
    margin-left:10px;
    gap:70px;
}

#firstname:focus {
    outline-style: double;
    outline-color: rgb(0, 238, 255);
}

#firstname:focus:invalid {
    outline-style: double;
    outline-color: rgb(255, 0, 0);
}

#lastname:focus {
    outline-style: double;
    outline-color: rgb(0, 238, 255);
}

#lastname:focus:invalid {
    outline-style: double;
    outline-color: rgb(255, 0, 0);
}

#mail:focus {
    outline-style: double;
    outline-color: rgb(0, 238, 255);
}

#mail:focus:invalid {
    outline-style: double;
    outline-color: rgb(255, 0, 0);
}

#phone:focus {
    outline-style: double;
    outline-color: rgb(0, 238, 255);   
}

#phone:focus:invalid {
    outline-style: double;
    outline-color: rgb(255, 0, 0);
}

#password:focus {
    outline-style: double;
    outline-color: rgb(0, 238, 255);
    
}

#confirmpassword:focus {
    outline-style: double;
    outline-color: rgb(0, 238, 255);
    
}


button {
    z-index: 1;
    margin-top: 80px;
    width:180px;
    height:50px;
    border: 2px inset black;
    border-radius: 10px;
    background-color:rgb(138, 138, 138);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 2px;
}

button:hover {
    background-color: black;
    color: rgb(138, 138, 138);
}

.already {
    display:inline-flex;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 2px;
    color:white;
    margin-left: 51px;
    margin-top: 100px;
}

.login {

    font-family: "Roboto";
    font-weight: bolder;
    font-size: 10px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
}

.login:hover {
    color: black;
}



.lower {
    height: 35vh;
}
